@using Project.Core.Models
@using Project.WebUI.ViewModel
@model RoomDetail_VM

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<ul>
    <li>Room Name : @Model.roomWithCustomer.RoomName</li>
    <li>Room Dept : @Model.roomWithCustomer.Debt</li>
    <li>Room Capacity : @Model.roomWithCustomer.Capacity</li>
    <li>Room Current Capacity  : @Model.roomWithCustomer.CurrentCapacity</li>
    <li>Room Lack :  @Model.roomWithCustomer.Lack</li>
    <li>Room LackDetail :  @Model.roomWithCustomer.LackDetail</li>
    <li>Room Images : 
        @foreach (RoomWithImageDto item in Model.roomWithImages)
        {
            @foreach (Image image in item.Images)
            {
             <img style="width:100px" height="100px" src="~/RoomImages/@image.FileName" />
            }
        }

    </li>
</ul>


<div class="container">
    <div class="row">
        @foreach (CustomerDto customer in Model.roomWithCustomer.Customers)
        {
            <div class="col-md-6">
                <p> FullName :  @customer.FullName </p>
                <p> Phone :  @customer.Phone </p>
                <p> Email :  @customer.Email </p>
                <p> Entry Date :  @customer.EntryDate </p>
                <p> Depart Date :  @customer.Depart </p>
                <p> Description :  @customer.Description </p>
                <p> RelativeNameSurname :  @customer.RelativeNameSurname </p>
                <p> RelativePhone :  @customer.RelativePhone </p>
            </div>
        }
    </div>
    
</div>
