@model List<RoomTypeWithRoomDto>
@{
	ViewData["Title"] = "Index";
}

@section ExtraCss{
	<link href="~/css/datatable/jquery.datatables.min.css" rel="stylesheet" />
	<link href="~/css/datatable/responsive.datatables.min.css" rel="stylesheet" />
}

<a asp-controller="Room" asp-action="Create" class="btn btn-outline-primary"> New Room <i class="material-icons f-left material-css">add_box</i></a>

<div class="card">
          <div class="card-header bg-sin text-light text-center"><h5>Our  Rooms</h5></div>
          <div class="card-body">
            <table id="example" class="table table-striped dt-responsive nowrap" style="width:100%">
              <thead>
              <tr>
					<td>RoomName</td>
					<td>Capacity</td>
					<td>Price</td>
					<td>Room State </td>
					<td>Room Type</td>
					<td>Dept</td>
					<td>Lack</td>
					<td>Lack Details</td>
					<td>Payment Status</td>
					<td>Action</td>
				</tr>
              </thead>
              <tbody>
				@foreach (RoomTypeWithRoomDto room in Model)
				{
					<tr>
						<th>@room.RoomName</th>
						<th>@room.Capacity</th>
						<th>@room.RoomType.Price</th>
						<th>@room.CurrentCapacity</th>
						<th>@room.RoomType.RoomName</th>
						<th>@room.Debt</th>
						<th>@room.Lack</th>
						<th>@room.LackDetail</th>
						@if (room.Debt > 0)
						{
							<th class="text-danger">Unpaid</th>
						}
						else
						{
							@if (room.Customers.Count == 0)
							{
								<th class="text-info">Empty</th>
							}
							else
							{
								<th class="text-success">Paid</th>
							}
						}


						<th>
							<div class="d-flex justify-content-evenly">
								<a class="btn btn-outline-success" asp-controller="Room" asp-action="Detail" asp-route-id="@room.Id"><i class="material-icons">home</i></a>
								<a class="btn btn-outline-warning roomUpdateButton"  data-id="@room.Id"><i class="material-icons">mode_edit</i></a>
								<a class="btn btn-outline-danger hashtagDeleteBtn" data-service-url="/Room/Remove/" data-id="@room.Id"><i class="material-icons">delete</i></a>
							</div>
						</th>

					</tr>
				}

              </tbody>
            </table>
          </div>
        </div>

		@section Scripts {
	@{
		await Html.RenderPartialAsync("_RemovePopupPartial");
	}
	}


		@section ExtraScripts{
	<script src="~/js/datatable/jquery.datatables.min.js"></script>
		<script src="~/js/datatable/datatables.datatables.min.js"></script>
		<script src="~/js/datatable/datatables.responsive.min.js"></script>
		<script src="~/js/datatable/responsive.datatables.min.js"></script>

	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>
		$(document).ready(function () {
			let url = "/Room/GetByDebt/";

			$(document).on('click', '.roomUpdateButton', function (event) {
				event.preventDefault();
				let id = $(this).data('id');

				$.get(url + id, function (response) {
					if (response > 0) {
						Swal.fire({
							icon: 'error',
							title: 'Oops...',
							text: 'You cannot edit this room because the room debt is higher than 0!',
							footer: '<a href="www.myhashtag.co.uk">If the room has no debt, please contact us !</a>'
						})
					}
					else {
							window.location = '/Room/Update/' + id;
					}
				});
			});
		});
		</script>
		}



