@model List<RoomTypeWithRoomDto>
@{
	ViewData["Title"] = "Index";
}

<a asp-controller="Room" asp-action="Create" class="btn btn-outline-primary"> New Room <i class="material-icons f-left material-css">add_box</i></a>
<table class="table table-striped">
	<thead>
	<tr>
		<td>RoomName</td>
		<td>Capacity</td>
		<td>Price</td>
		<td>Room State </td>
		<td>Room Type</td>
		<td>Dept</td>
		<td>Lack</td>
		<td>Lack Details</td>
		<td>Payment Status</td>
		<td>Action</td>
		
	</tr>
	</thead>
	<tbody>
		@foreach (RoomTypeWithRoomDto room in Model)
		{
		<tr>
				<th>@room.RoomName</th>
				<th>@room.Capacity</th>
				<th>@room.RoomType.Price</th>
				<th>@room.CurrentCapacity</th>
				<th>@room.RoomType.RoomName</th>
				<th>@room.Debt</th>
				<th>@room.Lack</th>
				<th>@room.LackDetail</th>
				 @if (room.Debt > 0)
				{
					<th class="text-danger">Unpaid</th>
				}
				else
				{
					@if (room.Customers.Count == 0)
					{
						<th class="text-info">Empty</th>
					}
					else
					{
						<th class="text-success">Paid</th>
					}
				}
					
				
				<th>
					<a class="btn btn-info" asp-controller="Room" asp-action="Detail" asp-route-id="@room.Id">Detail</a>
					
					<a class="btn btn-warning" asp-controller="Room" asp-action="Update" asp-route-id="@room.Id">Update	</a>
				<a class="btn btn-danger" asp-controller="Room" asp-action="Remove" asp-route-id="@room.Id">Delete	</a>	
				</th>
				
		</tr>
		}
	</tbody>
</table>