@model List<IncomeWithRoomDto>

@{
	ViewData["Title"] = "Get By Selected";
	string color = "";
}


@if (Model.Count == 0)
{

	<div class="alert alert-info" role="alert">
		No data found for the date you entered !  <br>
		<a asp-action="Index" class="alert-link">Click</a>  to go back.
	</div>
}
else
{

	<h1>@ViewBag.date </h1>

	<h3>All Incomes</h3>

	
	<div class="row mt-5">
		@foreach (var item in @ViewBag.allPaymentsDatas)
		{
			switch (item.Exchange.ToString())
			{
				case "Tl":
					color = "red";
					break;

				case "Dollar":
					color = "purple";
					break;

				case "Euro":
					color = "blue";
					break;

				case "Sterling":
					color = "yellow";
					break;
			}

			<ul style="background-color:@color">
				<li>Exchange = @item.Exchange</li>
				<li>Total Price = @item.Sum</li>
			</ul>

		}

	</div>

	<div class="row">
		<h3>Detailed Payments Table</h3>

		@foreach (var item in @ViewBag.detailPaymentsDatas)
		{
			<div class="col-md-3">
				<h4>@item.PaymentName </h4>
				@foreach (var paymentDetail in @item.PaymentDetail)
				{
					<p class="info-box-number">Total amount : <span style="font-size:20px"> @paymentDetail.Sum  </span>  <span style="font-size:14px"> @paymentDetail.Exchange.ToString()</span>  </p>
				}


			</div>

		}
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Room Name</td>
				<td>PaymentName</td>
				<td>PaymentMethod</td>
				<td>Price</td>
				<td>CurrencyName </td>
				<td>MoneyOfTheDay</td>
				<td>Description</td>
				<td>PaymentDate</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			@foreach (IncomeWithRoomDto incomeDetail in Model)
			{
				<tr>
					<th>@incomeDetail.Room.RoomName</th>
					<th>@incomeDetail.PaymentName</th>
					<th>@incomeDetail.PaymentMethod</th>
					<th>@incomeDetail.Price</th>
					<th>@incomeDetail.Exchange</th>
					<th>@incomeDetail.MoneyOfTheDay</th>
					<th>@incomeDetail.Description</th>
					<th>@incomeDetail.PaymentDate</th>

					<th>

						<a class="btn btn-warning" asp-controller="IncomeDetail" asp-action="Update" asp-route-id="@incomeDetail.Id">Update	</a>
						<a class="btn btn-danger" asp-controller="IncomeDetail" asp-action="Remove" asp-route-id="@incomeDetail.Id">Delete	</a>
					</th>

				</tr>
			}
		</tbody>
	</table>
}


