@model Project.Core.DTOs.CustomerDto



@{
    ViewData["Title"] = "Detail";
}

<h4>@Model.FullName Detail</h4>




<div>
    <div class="row">

        <p> FullName :  @Model.FullName </p>
        <p> Phone :  @Model.Phone </p>
        <p> Email :  @Model.Email </p>
        <p> EntryDate :  @Model.EntryDate </p>
        <p> Depart :  @Model.Depart </p>
        <p> Description :  @Model.Description </p>
        <p> RelativeNameSurname :  @Model.RelativeNameSurname </p>
        <p> RelativePhone :  @Model.RelativePhone </p>

    </div>

</div>



   