@model List<CustomerListDto>
@{
	ViewData["Title"] = "Index";
}

<div id="modalPlaceHolder" aria-hidden="true"></div>
<a asp-controller="Customer" asp-action="Create"> New Customer</a>
<table class="table table-striped">
	<thead>
	<tr>
		<td>Room Name</td>
		<td>Customer Name</td>
		<td>IdentityNo</td>
		<td>Phone  </td>
		<td> Email</td>
		<td>Description</td>
		<td>EntryDate</td>
		<td> Depart</td>
		<td>RelativeNameSurname</td>
		<td>RelativePhone</td>
		<td>Action</td>
		
	</tr>
	</thead>
	<tbody>
		@foreach (CustomerListDto customer in Model)
		{
		<tr>
			<th> @customer.Room.RoomName</th>
			<th> @customer.FullName</th>
			<th> @customer.IdentityNo</th>
			<th> @customer.Phone</th>
			<th> @customer.Email</th>
			<th> @customer.Description</th>
			<th> @customer.EntryDate</th>
			<th> @customer.Depart</th>
			<th> @customer.RelativeNameSurname</th>
			<th> @customer.RelativePhone</th>
				<th>
					<a class="btn btn-warning" asp-controller="Customer" asp-action="Update" asp-route-id="@customer.Id">Update	</a>
					<a class="btn btn-danger" asp-controller="Customer" asp-action="Remove" asp-route-id="@customer.Id">Delete	</a>
					<a class="btn btn-info" asp-controller="Customer" asp-action="Detail" asp-route-id="@customer.Id">Detail	</a>
					<a  class="btn btn-primary btnUpload" data-id="@customer.Id">Images </a>
				</th>
		</tr>
		}
	</tbody>
</table>



@section ExtraScripts{

	<script>
		$(document).ready(function () {

			const placeHolderDiv = $('#modalPlaceHolder');
			const url = "/Customer/Upload/";
			
			$(document).on('click','.btnUpload', function (event) {
				event.preventDefault();
				const id = $(this).attr('data-id');

				$.get(url,{id : id})
				.done(function(data) {
						placeHolderDiv.html(data);
						placeHolderDiv.find('.modal').modal('show');
				})
				.fail(function(){
					console.log("bir hata oluştu");
				});

				$(document).on('click', '#btnFileUpload', function (event) {
					event.preventDefault();

					const url = "/Customer/Upload?=";
					console.log(id)

					$.post(url, { id: id })
						.done(function (data) {
							placeHolderDiv.find('.modal').modal('hide');
						})
						.fail(function () {
							console.log("bir hata oluştu");
						});

				});

			});


		

		});


	</script>
}
