@model  RecordDto

@{
    ViewData["Title"] = "Detail";
}

<h3>@Model.FullName Detail Page</h3>



<div class="col-md-6">
    <p> FullName :  @Model.FullName </p>
    <p> Room Name :  @Model.RoomName </p>
    <p> Phone :  @Model.Phone </p>
    <p> Email :  @Model.Email </p>
    <p> Identity No :  @Model.IdentityNo </p>
    <p> University Name :  @Model.UniversityName </p>
    <p> Entry Date :  @Model.EntryDate </p>
    <p> Depart Date :  @Model.Depart </p>
    <p> Description :  @Model.Description </p>
    <p> RelativeNameSurname :  @Model.RelativeNameSurname </p>
    <p> RelativePhone :  @Model.RelativePhone </p>
</div>
