@model List<RoomTypeDto>

<a asp-controller="RoomType" asp-action="Create" class="btn btn-outline-primary"> Create Room Type <i class="material-icons f-left material-css">add_box</i></a>

<table class="table table-striped">
	<thead>
	<tr>
		<td>Room Type</td>
		<td>Price</td>
		<td>Increased Price</td>
		<td>Action</td>
		
	</tr>
	</thead>
	<tbody>
		@foreach (RoomTypeDto roomType in Model)
		{
		<tr>
				<th>@roomType.RoomName</th>
				<th>@roomType.Price</th>
				<th>@roomType.IncreasedPrice</th>

				<th>
					
					<a class="btn btn-warning" asp-controller="RoomType" asp-action="Update" asp-route-id="@roomType.Id">Update	</a>
				<a class="btn btn-danger" asp-controller="RoomType" asp-action="Remove" asp-route-id="@roomType.Id">Delete	</a>	
				</th>
				
		</tr>
		}
	</tbody>
</table>
