@using System.Globalization
@model List<RoomIncomeWithRoomDto>

@{
	ViewData["Title"] = "Get By Selected";

	string color = "";

}


@if (Model.Count == 0)
{

	<div class="alert alert-info" role="alert">
		No data found for the date you entered !  <br>
		<a asp-action="Index" class="alert-link">Click</a>  to go back.
	</div>
}
else
{

	DateTime date = Model[0].PaymentDate;
	string fullMonthName = date.ToString("MMMM", CultureInfo.CreateSpecificCulture("en"));
	string year = date.Year.ToString();


	<h1>@fullMonthName @year </h1>
	<h3>@date</h3>

	<h3>Room Rent Incomes</h3>
	

	var allPaymentsDatas = Model.GroupBy(p => p.Exchange).Select(group => new
	{
		Exchange = group.Key,
		Sum = group.Sum(s => s.Price)

	});
	<div class="row mt-5">
		@foreach (var item in allPaymentsDatas)
		{
			switch (item.Exchange.ToString())
			{
				case "Tl":
					color = "red";
					break;

				case "Dollar":
					color = "purple";
					break;

				case "Euro":
					color = "blue";
					break;

				case "Sterling":
					color = "yellow";
					break;
			}

			<ul style="background-color:@color">
				<li>Exchange = @item.Exchange</li>
				<li>Total Price = @item.Sum</li>
			</ul>

		}

	</div>





	<table class="table table-striped">
		<thead>
			<tr>
				<td>Room Name</td>
				<td>Customer Name</td>
				<td>Payment Method</td>
				<td>Price</td>
				<td>Currency Name </td>
				<td>Money Of The Day</td>
				<td>Description</td>
				<td>Payment Date</td>
				<td>Action</td>

			</tr>
		</thead>
		<tbody>
			@foreach (RoomIncomeWithRoomDto incomeDetail in Model)
			{
				<tr>
					<th>@incomeDetail.Room.RoomName</th>
					<th>@incomeDetail.CustomerName</th>
					<th>@incomeDetail.PaymentMethod</th>
					<th>@incomeDetail.Price</th>
					<th>@incomeDetail.Exchange</th>
					<th>@incomeDetail.MoneyOfTheDay</th>
					<th>@incomeDetail.Description</th>
					<th>@incomeDetail.PaymentDate</th>

					<th>

						<a class="btn btn-warning" asp-controller="RoomIncome" asp-action="Update" asp-route-id="@incomeDetail.Id">Update	</a>
						<a class="btn btn-danger" asp-controller="RoomIncome" asp-action="Remove" asp-route-id="@incomeDetail.Id">Delete	</a>
					</th>

				</tr>
			}
		</tbody>
	</table>
}


