@{
    ViewData["Title"] = "Payments";
}
@model List<PaymentDetailDto>

<div class="text-center">
    <h1 class="display-4">Payment  Page</h1>
    <a asp-action="Create" asp-controller="PaymentDetail">New Payments</a>
</div>

@foreach (PaymentDetailDto payment in Model)
{
    <ul>
        <li>PaymentName : @payment.PaymentName</li>
        <li>PaymentMethod : @payment.PaymentMethod</li>
        <li>Price : @payment.Price</li>
        <li>MoneyOfTheDay : @payment.MoneyOfTheDay</li>
        <li>Date : @payment.PaymentDate</li>
        <li>Currency : @payment.Exchange</li>
    </ul>
}