@using Project.WebUI.ViewModel
@model SingleRoomReports_VM

@{
    ViewData["Title"] = "GetBySelected";
}



@if (Model.IncomeWithRoomDtos.Count == 0 && Model.PaymentDetailWithRoomDtos.Count == 0 && Model.RoomIncomeWithRoomDtos.Count == 0)
{

	<div class="alert alert-info" role="alert">
		No data found for the date you entered !   <br>
		(<span class="text-bold">@ViewBag.date</span>)
		<br>
		<a asp-action="Index" class="alert-link">Click</a>  to go back.
	</div>
}
else
{
	<div>
		<h3  id="dateId">@ViewBag.date</h3>
	</div>
	if (Model.RoomIncomeWithRoomDtos.Count == 0)
	{
		<div class="alert alert-info" role="alert">
			No data on room rentals were found on the date you entered!  <br>
			(<span class="text-bold">@ViewBag.date</span>)
			<br>
		</div>
	}
	else
	{
		<div class="row">
			<h3>Rent Income Chart</h3>
			<div class="col-6"  style="background:white">
				<h3 class="my-2">
					Currency & Price Chart
				</h3>
			<div id="rentIncomeCurrencyChart"></div>

			</div>
			<div class="col-6" style="background:white">
				<h3 class="my-2">
					Payment Method & Price Chart
				</h3>
			<div id="rentIncomePaymentChart"></div>

			</div>
		</div>

	<div>
			<h3>Room Rent List </h3>
			<div class="row">
			<table class="table table-striped">
				<thead>
				<tr>
					<td>Room Name</td>
					<td>Customer Name</td>
					<td>Price</td>
					<td> Exchange</td>
					<td>Money Of The Day	</td>
					<td> Payment Method</td>
					<td> Description </td>
					<td> Payment Date </td>
					<td>Action</td>
				</tr>
				</thead>
				<tbody>
					@foreach (RoomIncomeWithRoomDto roomIncome in Model.RoomIncomeWithRoomDtos)
					{
					<tr>
							<th>@roomIncome.Room.RoomName</th>
							<th>@roomIncome.CustomerName</th>
							<th>@roomIncome.Price</th>
							<th>@roomIncome.Exchange</th>
							<th>@roomIncome.MoneyOfTheDay</th>
							<th>@roomIncome.PaymentMethod</th>
							<th>@roomIncome.Description</th>
							<th>@roomIncome.PaymentDate</th>
							<th>
								<a class="btn btn-warning" asp-controller="RoomIncome" asp-action="Update" asp-route-id="@roomIncome.Id">Update</a>
								<a class="btn btn-danger" asp-controller="RoomIncome" asp-action="Remove" asp-route-id="@roomIncome.Id">Delete</a>
							</th>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
	}

	if (Model.IncomeWithRoomDtos.Count == 0)
	{
		<div class="alert alert-info" role="alert">
			No data on revenues was found on the date you entered!  <br>
			(<span class="text-bold">@ViewBag.date</span>)
			<br>
		</div>
	}
	else
	{

		<div class="row">
			<h3>Oher Income Chart</h3>
			<div class="col-6" style="background:white">
				<h3 class="my-2">
					Currency & Price Chart
				</h3>
				<div id="othertIncomeCurrencyChart"></div>

			</div>
			<div class="col-6" style="background:white">
				<h3 class="my-2">
					Payment Method & Price Chart
				</h3>
					<div id="otherIncomePaymentChart"></div>

			</div>
		</div>



		<div>
			<h3>Incomes Detail Reports</h3>
			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Room Name</td>
							<td>Customer Name</td>
							<td>Price</td>
							<td> Exchange</td>
							<td>Money Of The Day	</td>
							<td> Payment Method</td>
							<td> Payment Name</td>
							<td> Description </td>
							<td> Payment Date </td>
							<td>Action</td>
						</tr>
					</thead>
					<tbody>
						@foreach (IncomeWithRoomDto roomIncome in Model.IncomeWithRoomDtos)
						{
							<tr>
								<th>@roomIncome.Room.RoomName</th>
								<th>@roomIncome.CustomerName</th>
								<th>@roomIncome.Price</th>
								<th>@roomIncome.Exchange</th>
								<th>@roomIncome.MoneyOfTheDay</th>
								<th>@roomIncome.PaymentMethod</th>
								<th>@roomIncome.PaymentName.Name</th>

								<th>@roomIncome.Description</th>
								<th>@roomIncome.PaymentDate</th>
								<th>
									<a class="btn btn-warning" asp-controller="IncomeDetail" asp-action="Update" asp-route-id="@roomIncome.Id">Update</a>
									<a class="btn btn-danger" asp-controller="IncomeDetail" asp-action="Remove" asp-route-id="@roomIncome.Id">Delete</a>
								</th>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	}


	if (Model.PaymentDetailWithRoomDtos.Count == 0)
	{
		<div class="alert alert-info" role="alert">
			No data on expenses were found on the date you entered! <br>
			(<span class="text-bold">@ViewBag.date</span>)
			<br>
		</div>

	}
	else
	{


		<div class="row">
				<h3>Payment Detail Chart</h3>
			<div class="col-6" style="background:white">
				<h3 class="my-2">
					Currency & Price Chart
				</h3>
					<div id="paymentDetailCurrencyChart"></div>

			</div>
			<div class="col-6" style="background:white">
				<h3 class="my-2">
					Payment Method & Price Chart
				</h3>
						<div  id="paymentDetailPaymentChart"></div>

			</div>
		</div>

	<div>
	<h3>Payment Detail Reports</h3>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Room Name</td>
					<td>Customer Name</td>
					<td>Price</td>
					<td> Exchange</td>
					<td>Money Of The Day	</td>
					<td> Payment Method</td>
					<td> Payment Name</td>
					<td> Description </td>
					<td> Payment Date </td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				@foreach (PaymentDetailWithRoomDto roomIncome in Model.PaymentDetailWithRoomDtos)
				{
					<tr>
						<th>@roomIncome.Room.RoomName</th>
						<th>@roomIncome.CustomerName</th>
						<th>@roomIncome.Price</th>
						<th>@roomIncome.Exchange</th>
						<th>@roomIncome.MoneyOfTheDay</th>
						<th>@roomIncome.PaymentMethod</th>
						<th>@roomIncome.PaymentName</th>
						<th>@roomIncome.Description</th>
						<th>@roomIncome.PaymentDate</th>
						<th>
							<a class="btn btn-warning" asp-controller="PaymentDetail" asp-action="Update" asp-route-id="@roomIncome.Id">Update</a>
							<a class="btn btn-danger" asp-controller="PaymentDetail" asp-action="Remove" asp-route-id="@roomIncome.Id">Delete</a>
						</th>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
	}







@section ExtraScripts {
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
     <script src="~/js/managmentreport.js"></script>
	
    }

}

