@using Project.WebUI.ViewModel
@model SingleRoomReports_VM

@{
    ViewData["Title"] = "GetBySelected";
}



@if (Model.IncomeWithRoomDtos.Count == 0 && Model.PaymentDetailWithRoomDtos.Count == 0 && Model.RoomIncomeWithRoomDtos.Count == 0)
{

	<div class="alert alert-info" role="alert">
		No data found for the date you entered !   <br>
		(<span class="text-bold" id="dateId">@ViewBag.date</span>)
		<br>
		<a asp-action="Index" class="alert-link">Click</a>  to go back.
	</div>
}
else
{
	<div>
		<h3>@ViewBag.date</h3>
	</div>


		var allRentIncomesWithExchange = Model.RoomIncomeWithRoomDtos.GroupBy(p => p.Exchange).Select(group => new
		{
		Exchange = group.Key,
		Sum = group.Sum( s => s.Price)
		
		});


	var allRentIncomesWithPaymentMethod = from payment in Model.RoomIncomeWithRoomDtos
										group payment by payment.PaymentMethod into payments
										select new
										{
											PaymentMethod = payments.Key,
											PaymentDetail = from paymentDetail in payments
															group paymentDetail by paymentDetail.Exchange into paymentDetailGroup
															select new 
															{
																Exchange = paymentDetailGroup.Key,
																Sum = paymentDetailGroup.Sum(x => x.Price),
															}
										};

		<div class="row">
			<div class="card col-12">
				<h4>Kur'a göre grup</h4>
				@foreach (var item in allRentIncomesWithExchange)
				{
				<ul style="background-color:red">
					<li>Exchange = @item.Exchange</li>
					<li>Total Price = @item.Sum</li>
				</ul>
			}
			</div>
		<div class="card col-12">
			<h4>Ödeme Method'una göre grup</h4>

			@foreach (var item in allRentIncomesWithPaymentMethod)
			{
				<h5>@item.PaymentMethod</h5>
				@foreach (var rentIncomeDetail in item.PaymentDetail)
				{
					<ul style="background-color:green">
						<li>Exchange = @rentIncomeDetail.Exchange</li>
						<li>Total Price = @rentIncomeDetail.Sum</li>
					</ul>
				}
			}
		</div>
		</div>

	<div>
	<h3>Room Rent Reports</h3>
    <div class="row">
        <table class="table table-striped">
			<thead>
			<tr>
				<td>Room Name</td>
				<td>Customer Name</td>
				<td>Price</td>
				<td> Exchange</td>
				<td>Money Of The Day	</td>
				<td> Payment Method</td>
				<td> Description </td>
				<td> Payment Date </td>
				<td>Action</td>
			</tr>
			</thead>
			<tbody>
				@foreach (RoomIncomeWithRoomDto roomIncome in Model.RoomIncomeWithRoomDtos)
				{
				<tr>
						<th>@roomIncome.Room.RoomName</th>
						<th>@roomIncome.CustomerName</th>
						<th>@roomIncome.Price</th>
						<th>@roomIncome.Exchange</th>
						<th>@roomIncome.MoneyOfTheDay</th>
						<th>@roomIncome.PaymentMethod</th>
						<th>@roomIncome.Description</th>
						<th>@roomIncome.PaymentDate</th>
						<th>
							<a class="btn btn-warning" asp-controller="RoomIncome" asp-action="Update" asp-route-id="@roomIncome.Id">Update</a>
							<a class="btn btn-danger" asp-controller="RoomIncome" asp-action="Remove" asp-route-id="@roomIncome.Id">Delete</a>
						</th>
				</tr>
				}
			</tbody>
		</table>
    </div>
</div>


<div>
	<h3>Incomes Detail Reports</h3>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Room Name</td>
					<td>Customer Name</td>
					<td>Price</td>
					<td> Exchange</td>
					<td>Money Of The Day	</td>
					<td> Payment Method</td>
					<td> Payment Name</td>
					<td> Description </td>
					<td> Payment Date </td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				@foreach (IncomeWithRoomDto roomIncome in Model.IncomeWithRoomDtos)
				{
					<tr>
						<th>@roomIncome.Room.RoomName</th>
						<th>@roomIncome.CustomerName</th>
						<th>@roomIncome.Price</th>
						<th>@roomIncome.Exchange</th>
						<th>@roomIncome.MoneyOfTheDay</th>
						<th>@roomIncome.PaymentMethod</th>
						<th>@roomIncome.PaymentName</th>
						<th>@roomIncome.Description</th>
						<th>@roomIncome.PaymentDate</th>
						<th>
							<a class="btn btn-warning" asp-controller="IncomeDetail" asp-action="Update" asp-route-id="@roomIncome.Id">Update</a>
							<a class="btn btn-danger" asp-controller="IncomeDetail" asp-action="Remove" asp-route-id="@roomIncome.Id">Delete</a>
						</th>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>




<div>
	<h3>Payment Detail Reports</h3>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Room Name</td>
					<td>Customer Name</td>
					<td>Price</td>
					<td> Exchange</td>
					<td>Money Of The Day	</td>
					<td> Payment Method</td>
					<td> Payment Name</td>
					<td> Description </td>
					<td> Payment Date </td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				@foreach (PaymentDetailWithRoomDto roomIncome in Model.PaymentDetailWithRoomDtos)
				{
					<tr>
						<th>@roomIncome.Room.RoomName</th>
						<th>@roomIncome.CustomerName</th>
						<th>@roomIncome.Price</th>
						<th>@roomIncome.Exchange</th>
						<th>@roomIncome.MoneyOfTheDay</th>
						<th>@roomIncome.PaymentMethod</th>
						<th>@roomIncome.PaymentName</th>
						<th>@roomIncome.Description</th>
						<th>@roomIncome.PaymentDate</th>
						<th>
							<a class="btn btn-warning" asp-controller="PaymentDetail" asp-action="Update" asp-route-id="@roomIncome.Id">Update</a>
							<a class="btn btn-danger" asp-controller="PaymentDetail" asp-action="Remove" asp-route-id="@roomIncome.Id">Delete</a>
						</th>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

}

